
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mr-auto {
  min-width: 0;
  padding-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue-meta-data-preview {
  margin-bottom: 0.5rem;
}

.board-wrapper {
  overflow-x: auto;
}

.board-container {
  display: table;
}

.board-item-row {
  display: table-row;
}

.board-item-wrapper {
  display: table-cell;
  vertical-align: top;
}

.board-item {
  margin-right: 20px;
  width: 400px;
}

.sortable-ghost {
  opacity: .3;
}


